.main {
    background-color: #fff;
    min-height: calc(100vh - 112px);
    height: calc(100vh - 112px);
    overflow-y: auto;
}

.promt {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}